---
import Layout from "@/layouts/Layout.astro";
import Logo from "@/components/Logo.astro";
---

<Layout title="Donaciones">
  <div class="flex items-center justify-center py-4">
    <Logo className="max-w-72 md:hidden" />
  </div>
  <div class="p-4 flex flex-col min-h-screen items-cente">
    <h1 class="text-2xl font-bold text-dark-primary">¿Cómo ayudar?</h1>
    <p>¡Tú puedes hacer la diferencia!</p>
    <br />
    <h2 class="text-2xl font-bold text-dark-primary">Donaciones en efectivo</h2>

    <p>
      Puede ser única, mensual, anual o la periocidad que desees. <br />
      Tú eliges el monto. <br />
      <br />
      Puedes realizarlo a través de depósito o transferencia bancaria a la cuenta
      <br />
      <br />
      Depósito a nombre de: <b>Iglesia Enseñanza de Agua Viva Hogar Prometido</b
      >
      <br />
      <br />

      <b>BANCO INDUSTRIAL</b>
      <br />
      <b>Cuenta monetaria 106-010488-0</b>
      <br />
    </p>
  </div>
</Layout>
