---
import Layout from "@/layouts/Layout.astro";
import "photoswipe/style.css";
---

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>

<Layout title="Galeria">
  <div class="grid md:grid-cols-3 grid-cols-1  px-4 md:px-0 max-w-6xl gap-8 mx-auto py-20" id="gallery">
    {
      Array.from({ length: 9 }).map((_, i) => {
        return (
          <a
            data-pswp-width="1920"
            data-pswp-height="1080"
            data-cropped="true"
            target="_blank"
            class="group rounded-xl hover:scale-105 transition-all relative aspect-square"
            href={`/img/gallery/img-${i + 1}.jpg`}
            
          >
            <img
              src={`/img/gallery/img-${i + 1}.jpg`}
              alt=""
              loading="lazy"
              class="rounded-xl aspect-square object-cover"
            />
            <img
              src={`/img/gallery/img-${i + 1}.jpg`}
              alt=""
              class="aspect-square blur-lg absolute inset-0 transition group-hover:contrast-150 opacity-70 -z-10"
              loading="lazy"
            />
          </a>
        );
      })
    }
  </div>
</Layout>
