---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Historias">
  <main class="relative w-full flex flex-col overflow-hidden items-center py-4">
    <iframe
      title="Publicacion de Facebook de El Hogar Prometido"
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0djgmAmrLM3RmdmZdgJb83EXiEuLFWUNwDu1oEn6PpHvC35PCNJja6H4rCAE4jVk1l&show_text=true&width=500"
      class="w-[400px] md:w-[500px]"
      height="693"
      style="border:none;overflow:hidden"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      loading="eager"
      class="overflow-scroll"></iframe>

    <iframe
      title="Publicacion de Facebook de El Hogar Prometido"
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0nKgpoavLb9L2hxJ2AakgH7Rx8Mn3rCirBY5xJwMVGrRVAvBXbMsjTBYxZJfKsFJ3l&show_text=true&width=500"
      class="w-[400px] md:w-[500px]"
      height="775"
      style="border:none;overflow:hidden"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      loading="lazy"></iframe>

    <iframe
      title="Publicacion de Facebook de El Hogar Prometido"
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0YiyJkgat4m6C34yF95raMxFBUrkRrGBrK815k36w6SoZerupxW2qUMwFnhrH74oRl&show_text=true&width=500"
      class="w-[400px] md:w-[500px]"
      height="497"
      style="border:none;overflow:hidden"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      loading="lazy"></iframe>
  </main>
</Layout>
