---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

---

<Layout title="Historia">

  <main>
    <div class="flex justify-center mb-6">
      <div class="md:w-25 max-w-xs lg:max-w-none">
        <iframe title="Publicacion de Facebook de El Hogar Prometido" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0djgmAmrLM3RmdmZdgJb83EXiEuLFWUNwDu1oEn6PpHvC35PCNJja6H4rCAE4jVk1l&show_text=true&width=500" width="500" height="693" style="border:none;overflow:hidden" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="eager"></iframe>
      </div>
    </div>
    
    <div class="flex justify-center mb-6">
      <div class="md:w-25 max-w-xs lg:max-w-none">
        <iframe title ="Publicacion de Facebook de El Hogar Prometido" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0nKgpoavLb9L2hxJ2AakgH7Rx8Mn3rCirBY5xJwMVGrRVAvBXbMsjTBYxZJfKsFJ3l&show_text=true&width=500" width="500" height="775" style="border:none;overflow:hidden" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
      </div>
    </div>

    <div class="flex justify-center mb-6">
      <div class="md:w-25 max-w-xs lg:max-w-none">
        <iframe title="Publicacion de Facebook de El Hogar Prometido" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0YiyJkgat4m6C34yF95raMxFBUrkRrGBrK815k36w6SoZerupxW2qUMwFnhrH74oRl&show_text=true&width=500" width="500" height="497" style="border:none;overflow:hidden" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
      </div>
    </div>

  </main>

  
</Layout>
