---
import Logo from "@/components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Historias">
  <main class="relative w-full flex flex-col overflow-hidden items-center py-4">
    <Logo className="max-w-80 md:hidden" />
    <div class="max-w-4xl mx-auto mt-3">
      <div class="flex flex-col lg:flex-row gap-6">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
          <iframe
            title="Publicacion de Facebook de El Hogar Prometido"
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid02TFJapLQ8anYUZcMNpdPaAqFKquLG3idhGZ7T9v1uz4yp5WFRbiJNAMZCrj8Upeggl&show_text=true&width=500&is_preview=true"
            width="w-full max-w-lg rounded-lg shadow-md"
            height="498"
            style="border:none;overflow:hidden"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            loading="lazy"></iframe>

          <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid02EbdX8p6Bo9EjPCKDaAq5UCcGDNWKgFye3uMBGLtNx9iE6WcwetLVjELQuH6Likmhl&show_text=true&width=500&is_preview=true"
            width="w-full max-w-lg rounded-lg shadow-md"
            height="648"
            style="border:none;overflow:hidden"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            loading="lazy"></iframe>

          <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0gfY49mYHaPwUc9C5JfsFNqKkMEarmRDsvMVyCtzTtXP2J85smxzaPi4ZwM5gZro5l&show_text=true&width=500&is_preview=true"
            width="w-full max-w-lg rounded-lg shadow-md"
            height="497"
            style="border:none;overflow:hidden"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            loading="lazy"></iframe>

          <iframe
            title="Publicacion de Facebook de El Hogar Prometido"
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0djgmAmrLM3RmdmZdgJb83EXiEuLFWUNwDu1oEn6PpHvC35PCNJja6H4rCAE4jVk1l&show_text=true&width=500"
            class="w-full max-w-lg rounded-lg shadow-md"
            height="693"
            style="border:none;overflow:hidden"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            loading="lazy"></iframe>

          <iframe
            title="Publicacion de Facebook de El Hogar Prometido"
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0nKgpoavLb9L2hxJ2AakgH7Rx8Mn3rCirBY5xJwMVGrRVAvBXbMsjTBYxZJfKsFJ3l&show_text=true&width=500"
            class="w-full max-w-lg rounded-lg shadow-md"
            height="775"
            style="border:none;overflow:hidden"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            loading="lazy"></iframe>

          <iframe
            title="Publicacion de Facebook de El Hogar Prometido"
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FElHogarPrometido%2Fposts%2Fpfbid0YiyJkgat4m6C34yF95raMxFBUrkRrGBrK815k36w6SoZerupxW2qUMwFnhrH74oRl&show_text=true&width=500"
            class="w-full max-w-lg rounded-lg shadow-md"
            height="497"
            style="border:none;overflow:hidden"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </main>
</Layout>
