---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Info from "@/components/Info.astro";
---

<Layout title="Hogar prometido">
  <main class="flex flex-col relative">
    <Hero />
    <!-- <h1 class="text-white">Hogar prometido</h1> -->
    <Info />
  </main>
</Layout>
