---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hogar prometido">
	<main>
		<h1>Hogar prometido</h1>
		<p>El hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso. Hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso. Hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso. Hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso. Hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso. Hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso. Hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso. Hogar prometido es un lugar donde los niños y niñas pueden vivir, crecer y desarrollarse en un ambiente seguro y amoroso.</p>
	</main>
</Layout>
