---
import Layout from "../layouts/Layout.astro";
import Founders from "../components/Founders.astro";
---
<Layout title="Nosotros">
  <div class="py-12 flex flex-col gap-4 px-4 min-h-screen">
    <h2 class="font-extrabold text-6xl text-secondary">Historia</h2>
    <p class="text-secondary text-xl">
      Desde 1979, la familia de Enseñanza de Agua Viva ha tenido en su corazón
      brindar un lugar digno para el cuidado y protección de niños y niñas en
      orfandad. En 2017 nace "El Hogar Prometido", autorizado según Resolución
      No. CNA-DG-EPDAN-012-2016 emitida por el Consejo Nacional de Adopciones
      (CNA).
    </p>
    <h2 class="font-extrabold text-6xl text-secondary">Visión</h2>
    <p class="text-secondary text-xl">
      Nuestra visión es proporcionar atención de alta calidad a niños y niñas,
      satisfaciendo sus necesidades de protección, alojamiento, alimentación,
      vestimenta, salud integral, educación formal y orientación espiritual.
    </p>
    <h2 class="font-extrabold text-6xl text-secondary">Misión</h2>
    <p class="text-secondary text-xl">
      Nuestra misión es proporcionar un entorno hogareño para niños y niñas en situación de orfandad, garantizando un cuidado integral y completo.
    </p>
    <Founders />
  </div>
</Layout>
