---
import { Image } from "astro:assets";

const { title, description, image, href } = Astro.props;
console.log(href);
---

<div class="flex flex-col items-center justify-center">
  <a href=`${href}`
    ><Image
      src={image}
      alt="A picture of a cat"
      width="240"
      class="rounded-full object-cover md:w-60 md:h-60"
    />
  </a>
  <h1>{title}</h1>
  <p class="text-dark-primary">{description}</p>
</div>
