---
  import Whatsapp from "@/icons/WhatsappLogo.astro"
  import Facebook from "@/icons/FacebookLogo.astro"
---

<footer class="w-full border-primary border-t-2 flex py-12 px-24">
  <div class="flex-1">
    <h3 class="text-2xl font-bold text-primary">Dirección</h3>
    <p class="text-secondary">
      O calle 8-95 zona 9 de Quetzaltenango Dentro de las instalaciones del
      Instituto Bíblico Enseñanza de Agua, Por la Colonia Cerezos 2
    </p>
  </div>
  <div class="flex-1">
    <h3 class="text-2xl font-bold text-primary">Contacto</h3>
    <p class="text-secondary">
      Teléfono: +502 5690 2150
      <br />
    </p>
    <div class="flex space-x-4">
      <a href="https://www.facebook.com/ElHogarPrometido" target="_blank">
        <Facebook class="w-8 h-8 hover:scale-125 transition-all" />
      </a>
      <a href="https://wa.me/50256902150" target="_blank">
        <Whatsapp class="w-8 h-8 hover:scale-125 transition-all" />
      </a>
  </div>
</footer>
