---

---

<nav class="w-full flex justify-center">
	<ul class="flex  gap-6">
		<li class="font-bold text-dark-primary hover:scale-125 transition-all -translate-y-1"><a href="">Inicio</a></li>
		<li class="font-bold text-dark-primary hover:scale-125 transition-all -translate-y-1"><a href="">Sobre nosotros</a></li>
		<li class="font-bold text-dark-primary hover:scale-125 transition-all -translate-y-1"><a href="">Tu donación va a</a></li>
	</ul>
</nav>