---
import { Image } from "astro:assets";
import cover from "@/img/cover.jpg";
import imageHistory from "@/img/bebe-respirador.jpg";
---

<section class="flex items-center justify-center flex-col w-full relative">
    <Image src={cover} alt="Niños jugando en el parque" class="object-cover" />
  <div class="py-12 flex flex-col gap-4 px-4 md:px-0">
    <h2 class="font-extrabold text-6xl text-secondary">
      Ayúdanos a hacer la diferencia
    </h2>
    <p class="text-secondary text-xl">
      Tu apoyo puede iluminar el futuro de nuestros niños
    </p>
  </div>

  <a
    class="font-extrabold bg-black p-4 uppercase text-white hover:bg-neutral-700 mb-4 text-2xl"
    href="/donaciones"
  >
    Dona aquí
  </a>

  <div class="flex flex-col md:flex-row items-center justify-between gap-8 py-16 px-4 md:px-8 lg:px-16 bg-gray-100">
    <div class="md:w-1/2 flex justify-center">
      <Image
      src={imageHistory}
      alt="Niños jugando en el parque"
      class="w-full max-w-md rounded-lg shadow-lg"
    />
    </div>
    <div class="md:w-1/2">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-primary mb-4">Historias de Esperanza: El Camino a un Nuevo Hogar</h2>
      <p class="text-secondary text-lg mb-6">
        Era un día cualquiera cuando el destino puso en el camino de una joven ha un pequeño bulto envuelto en trapos. Al acercarse, su corazón se detuvo: <span class="text-red-600 font-bold">era un bebé recién nacido</span>, abandonado a su suerte. Sin dudarlo, lo tomó en brazos y corrió a buscar ayuda.<br />
        Así fue como este indefenso llegó a <span class="text-primary font-bold">El Hogar Prometido</span>, un refugio que lo recibió con los brazos abiertos. Por más de un año, el equipo dedicado de la institución se encargó de su bienestar y protección, velando por esta criatura que la vida había puesto en peligro.<br />
        Afortunadamente, la historia de este pequeño no termina ahí. Después de su estadía temporal, una familia amorosa lo acogió y se convirtió en el hogar permanente que tanto merecía. Hoy ese bebé crece seguro, amado y con un futuro prometedor por delante.
    </p>
      <div class="flex flex-col md:flex-row items-center justify-between gap-4">
        <p class="text-secondary text-lg">Casos como este suceden a diario. Niños inocentes que, por diversas circunstancias, se enfrentan a la negligencia y el abandono. "El Hogar Prometido" está ahí para ellos, brindándoles protección, pero necesita de tu apoyo.</p>
      </div>
      <p class="text-secondary text-lg mt-6">Con tu apadrinamiento, más pequeños vulnerables tendrán la oportunidad de encontrar los brazos amorosos que se merecen. Únete a nuestra misión y ayúdanos a construir hogares, uno a la vez.</p>
      <a href="donaciones" class="inline-block bg-primary text-white py-3 px-6 rounded-lg uppercase font-bold hover:bg-dark-primary transition-colors duration-300 mt-8">Apadrina a niños como yo</a>
    </div>
  </div>
</section>
