<section class="flex items-center justify-center flex-col">
	<h2 class="font-extrabold text-6xl text-secondary">
		Ayúdenos a hacer la  diferencia
	</h2>
	<p class="text-secondary">Su apoyo puede iluminar el futuro de nuestros niños</p>
	<button class="font-bold bg-primary p-4 rounded-full uppercase">
		<a href="">Dona aquí</a>
	</button>
</section>

