---
import { Image } from "astro:assets";
import cover from "@/img/cover.jpg";
import imageHistory from "@/img/bebe-respirador.jpg";
---

<section class="flex items-center justify-center flex-col w-full relative">
    <Image src={cover} alt="Niños jugando en el parque" class="object-cover" />
  <div class="py-12 flex flex-col gap-4 px-4 md:px-0">
    <h2 class="font-extrabold text-6xl text-secondary">
      Ayúdanos a hacer la diferencia
    </h2>
    <p class="text-secondary text-xl">
      Tu apoyo puede iluminar el futuro de nuestros niños
    </p>
  </div>

  <a
    class="font-bold bg-primary p-4 uppercase text-white hover:bg-dark-primary mb-4"
    href="donaciones"
  >
    Dona aquí
  </a>

  <div class="flex items-center w-full flex-col md:flex-row my-20 gap-4">
    <div class="flex-1 w-full">
      <Image
        src={imageHistory}
        alt="Niños jugando en el parque"
        class="object-cover w-full h-full max-h-96"
      />
    </div>

    <div class="w-full flex flex-col py-20 flex-1">
      <h2 class="font-extrabold text-6xl text-secondary mb-4">
        ¡Hola! Soy Ladit
      </h2>
      <p class="text-secondary text-xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        rutrum velit vel pulvinar consequat. Maecenas nec ante sed urna
        vestibulum consectetur. Donec vel urna ac sapien posuere scelerisque.
        Quisque vitae dui vitae enim finibus rhoncus. Nam nec leo sit amet enim
        porta ullamcorper nec id sem. Aliquam erat volutpat. Sed fringilla
        venenatis mi, id varius elit suscipit vel. Integer sit amet volutpat
        odio. Sed mattis metus in libero cursus, a fringilla lorem vestibulum.
        Vivamus placerat neque nec risus congue, vitae consequat dui varius.
        Suspendisse potenti. Nunc molestie velit ut lorem scelerisque, sit amet
        efficitur purus condimentum. Curabitur id purus nec nisi commodo
        hendrerit. Cras malesuada, lectus et feugiat tempor, urna tortor
        vehicula nunc, a pharetra justo tellus eget nunc.
      </p>
      <a
        class="font-bold bg-primary p-4 uppercase text-white hover:bg-dark-primary my-4 flex justify-center"
        href="donaciones"
      >
        Apadrina a niños como yo
      </a>
    </div>
  </div>
</section>
