<section class="flex items-center justify-center flex-col">
	<!-- <button class="font-bold bg-primary p-4 rounded-full uppercase">
		<a href="">Donar ahora</a>
	</button> -->
	<h2 class="font-extrabold text-6xl text-secondary">
		Ayúdenos a hacer la  diferencia
	</h2>
</section>

