---
import InfoDialog from "@/components/InfoDialog.astro";
import cumpe from "@/img/cumple.jpg";
import donaciones from "@/img/donaciones.jpg";
import historias from "@/img/historias.jpg";
import nosotros from "@/img/nosotros.jpg";

---

<section class="flex flex-col md:flex-row md:gap-4 gap-8 justify-center items-center">
  <InfoDialog
    title="Padrinos"
    description="Apadrina a nuestros niños"
    image={nosotros}
  />
  <InfoDialog
    title="Donaciones"
    description="Apoya nuestra causa"
    image={donaciones}
  />
  <InfoDialog
    title="Historias"
    description="Únete a nosotros"
    image={historias}
  />

  <InfoDialog
    title="Nosotros"
    description="Quienes somos"
    image={nosotros}
  />
  
</section>
