---
import InfoDialog from "@/components/InfoDialog.astro";
import image from "@/img/Orfanato-29.png";
---

<section class="flex flex-col md:flex-row md:gap-4 justify-center items-center">
  <InfoDialog
    title="Padrinos"
    description="Apadrina a nuestros niños"
    image={image}
  />
  <InfoDialog
    title="Voluntarios"
    description="Únete a nosotros"
    image={image}
  />
  
</section>
