---
// Supports weights 300-800
import "@fontsource-variable/open-sans";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: "Open Sans Variable", system-ui, sans-serif;
    background: #f7faf0;
    background-size: 224px;
    scroll-behavior: smooth;
  }

  @media screen and (min-width: 768px) {
    /* width */
    ::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #688d00;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #9ed900;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #87b40a;
    }
  }
</style>
